# dependencies
node_modules
.pnpm-store

# build outputs
dist
build
.out
.next
.turbo
.vercel

# Generated Code (This is what's causing your error)
apps/server/generated
**/generated/**

# coverage & logs
coverage
*.log

# environment files
.env
.env.*

# lockfiles (optional but common)
pnpm-lock.yaml

# Cache & Logs
.husky
.turbo
*.log
npm-debug.log*

# Git
.git