# dependencies
node_modules

# build outputs
dist
build
.out
.next
.turbo

# Ignore generated prisma client
apps/server/src/generated/
node_modules/
dist/

# coverage & logs
coverage
*.log

# environment files
.env
.env.*

# lockfiles (optional but common)
pnpm-lock.yaml
